:root {
    --primary-color: #1659bf;
    --secondary-color: #0c326c;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.login .vr {
    margin-left: 50%;
    margin-right: 50%;
    background-color: rgb(0, 0, 0, .5);
    width: 1px;
}

.login .row,
.signup .row {
    margin: 0;
    padding: 0;
}

.login .btn-primary,
.signup .btn-primary {
    background-color: var(--primary-color);
}

.login .btn-primary:hover,
.signup .btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.login .btn-primary,
.login .btn-secondary,
.signup .btn-primary,
.signup .btn-secondary,
.signup .btn-outline-danger {
    font-weight: 600;
    width: 100%;
    border-radius: 0px;
}

.login .panel,
.signup .panel {
    margin-top: auto;
    margin-bottom: auto;
}

.login .title h2,
.signup .title h2 {
    font-weight: 600;
    padding: 12px;
    padding-left: 40px;
    color: var(--primary-color);
}

.login .item,
.signup .item {
    padding: 40px;
    min-height: 350px;
}

.login .tab,
.signup .tab {
    padding-left: 40px;
}

.login .item .subtitle {
    font-weight: 400;
}

.cabecalho .navbar {
    background-color: var(--primary-color);
    color: white;
}

.cabecalho .navbar a {
    font-weight: 600;
    color: white;
}

.cabecalho .navbar a:hover {
    color: black;
}

.cabecalho .navbar .dropdown-item {
    color: black;
    background-color: white;
}

.cabecalho .navbar .dropdown-item:hover {
    color: white;
    background-color: var(--primary-color);
}

.cabecalho .navbar-brand img {
    height: 90px;
}

.cabecalho .navbar .dropdown-menu {
    margin: 0px;
    padding: 0px;
}

.cabecalho .navbar .dropdown-menu li {
    margin: 5px;
}

.rodape {
    background-color: var(--secondary-color);
    color: white;
}

.rodape .row {
    padding: 30px 0;
}

.rodape .brand img {
    height: 100px;
}

.rodape .integrantes .title {
    font-weight: bold;
}

.rodape .integrantes p {
    margin: 0.2rem;
}

.ver-certificados .start {
    vertical-align: middle;
    padding-left: 25px;
}

.ver-certificados .start {
    vertical-align: middle;
    padding-left: 25px;
}

.ver-certificados td {
    vertical-align: middle;
}

.ver-certificados thead {
    vertical-align: middle;
}

.ver-certificados td .btn-danger {
    text-align: left;
}

.ver-certificados .deferido,
.ver-certificados .indeferido,
.ver-certificados .nao-classificado {
    width: fit-content;
    border: 0 solid;
    border-radius: 20px;
    padding: 5px 15px;
    font-weight: 600;
}

.ver-certificados .nao-classificado {
    background-color: #e3e3e3;
    color: #545454;
}

.ver-certificados .deferido {
    background-color: #b2ffa9;
    color: #28851a;
}

.ver-certificados .indeferido {
    background-color: #fee3e3;
    color: #d03631;
}

.ver-certificados thead tr {
    height: 50px;
    vertical-align: middle;
    background-color: var(--primary-color);
    color: white;
}